body {
    background-image: url(../Img/BG.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#img {
    border-radius: 8px;
    margin: auto;
    border-style: double;
    border-color: rgba(255, 255, 255, 0.473);
    border-width: 10px;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 255, 255, 0.685);
}

#buttons {
    margin-bottom: 10%;
}


#content {
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

#hint {
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 30px 30%;
    display: block;
    background-color: rgba(0, 0, 0, 0.397);
    border-color: rgba(255, 255, 255, 0.356);
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-style: double;
    border-width: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.582);
   
}

/* import */

#ans-button {
    background-color: transparent;
    position: relative;
    bottom: 20px;
    border: none;
    width: 150px;
    height: 30px;
    line-height: 40px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

#ans-button span {
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    border: 2px solid rgb(250, 250, 250);
    background-color: rgb(95, 43, 143);
    color: white;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#ans-button span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

#ans-button span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

#ans-button:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#ans-button:hover span:nth-child(2) {
    background: #e0e5ec;
    color: #e0e5ec;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.modal-content{
    background-image: url(/docs/Img/popup.gif);
    background-size: contain;

}
#MC-bg{
    background-image: url(/docs/Img/popup.gif);
    background-size: cover;
}
.modal-header{
    padding-bottom: 0;
}
#exampleModalLongTitle{
    margin-left: 10%;
    margin-top: 5px;
}
.modal-header .close{
    padding-top: 23px;
}
.close span{
    width: 5px;
    margin-right: 45px;

}
#sypnosis{
    font-size: 14px;
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 70px;
}